select {
  width: 220px;
  padding: 8px;
  overscroll-behavior: contain;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  text-align: center;
  max-width: 80vw;
  margin: auto;
}

.favorites {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.favorites label {
  margin-bottom: 0px;
  color: greenyellow;
}

.file-types {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60VW;
}
.file-type {
  display: flex;
  align-items: center;
  gap: 5px;
}
.file-type input {
  margin-right: 5px;
}
.file-type label {
  cursor: pointer;
}
.file-type input:checked + label {
  font-weight: bold;
}
.file-type input:checked + label::before {
  content: '✓';
  color: green;
}
.file-type input:not(:checked) + label::before {
  content: '✗';
  color: red;
}
.file-type label::before {
  content: '✗';
  color: red;
  margin-right: 5px;
}
.file-type label {
  cursor: pointer;
  user-select: none;
}

.file-quality input {
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}



.path-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.path-input {
  align-items: self-start;
  display: flex;
  flex-direction: row;
  width: 50vw;;
}

.path-output {
  align-items: self-start;
  display: flex;
  flex-direction: row;
  width: 50vw;;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 2rem;
  margin-right: 2rem;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.convert-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
